:host{
  display: block;
  width: 100%;


}


.death-container{
  position: relative;
  background: black;
  height: 600px;
  width:800px;
  overflow: hidden;
  font-family: 'Times New Roman', Times, serif;

}


/* Overlay de blood */

.blood-overlay {
  position: absolute;
  inset: 0;

  background:
    radial-gradient(ellipse at center, rgba(80, 0, 0, 0.8) 0%, rgba(40, 0, 0, 0.6) 40%,
    rgba(0, 0, 0, 0.9)100%
    );
    animation:  bloodPulse 4s ease-in-out infinite;
}

@keyframes bloodPulse{
  0%, 100%{
    opacity: 0.8;
  }
  50%{
    opacity: 1;
  }
}


.death-content{


   z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;

  height: 100%;
  padding: 40px;

}

.death-text-container{
  margin-bottom: 80px;
}

.death-text{
  font-size: 40px;
  font-weight: normal;
  letter-spacing: 15px;
  color: #8b0000;

   text-shadow:
    1px 1px 2px rgba(139, 0, 0, 0.6),
    0 0 6px rgba(139, 0, 0, 0.4),
    0 0 12px rgba(139, 0, 0, 0.3);

    margin: 0;
    opacity: 0;
    transform: scale(1.2);
    animation: deathTextAnimation 1s ease-out forwards;

}



.death-options{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  transform: translateY(20px);

}
.menu-item{
display: flex;
align-items: center;
gap: 16px;
padding: 12px 32px;
border: none;
cursor: pointer;
background: transparent;
}

.menu-label{
  text-align: center;
  color: #5a5a5a;
  text-transform: uppercase;
}

.menu-item:hover .menu-label{
  color: #c4a35a;
}

@keyframes deathTextAnimation {
    0% {
      opacity:0;
    }
    50% {
      opacity:1;
    }
    100% {
      opacity:1;
      transform:scale(1);
    }
}
