/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  padding: 0;
  background: #0f0f1a;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  font-family: "Times New Roman", Times, serif;
}

.text-white {
  color: white;
}
